.fixed_buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Dikeyde merkezleme */
  justify-content: center; /* Yatayda merkezleme */
  z-index: 1000;
 
}

.whatsapp_button {
  background-color: #25d366;
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: bounce 2s infinite;
  transition: transform 0.2s;
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 20%;
  cursor: pointer;
}

.whatsapp_button:hover {
  transform: scale(1.1);
}

.phone_button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 60px;
  height: 60px;
}

.phone_button:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
