/* Masonry grid */
.masonry-grid {
  display: flex;
  margin-left: -15px;
  width: auto;
}

.masonry-grid_column {
  padding-left: 15px;
  background-clip: padding-box;
}

/* Gallery item */
.gallery-item {
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gallery-item img, 
.gallery-item video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-item:hover img,
.gallery-item:hover video {
  transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .masonry-grid {
    margin-left: -5px;
  }

  .masonry-grid_column {
    padding-left: 5px;
  }

  .gallery-item {
    margin-bottom: 8px;
  }
}

.gallery-image,
.gallery-video {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.gallery-image.loaded,
.gallery-video.loaded {
  opacity: 1;
}
