/* Telefon simgesine sallanma animasyonu */
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.phone-shake {
  animation: shake 0.5s ease-in-out infinite;
}

@keyframes gradient-slide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #f60e0a 0%, #c94240 50%, #f60e0a 100%);
  background-size: 200% 100%;
  animation: gradient-slide 3s infinite ease-in-out;
  padding-bottom: 6px;
}


.header_bottom {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: black;
}

.social {
  font-size: 1.5rem;
  /* color: #f60e0a; */
  padding: 5px;
}

.header_title {
  display: inline-block;
  font-size: 3rem; /* Yazı boyutunu ayarlayın */
  font-weight: bold;
  margin-top: 10px;
  padding: 0px;
  /* color: #f60e0a; */
}

.phone-icon {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .header_title {
    font-size: 1.4rem;
  }
  .header {
    justify-content: center;
    align-items: center;
  }
  .social {
    font-size: 1.2rem;
  }
}
