.header {
  font-family: "Playfair Display", serif;
  text-align: center;
  background-color: white;
  color: white;
  padding-bottom: 6px;
}

.header_bottom {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: black;
}


.social {
  font-size: 1.5rem;
  color: black;
}

.header_title {
  display: inline-block;
  font-size: 3rem; /* Yazı boyutunu ayarlayın */
  font-weight: bold;
  margin-top:  10px;
  padding: 0px;
  color: #f4a261; 
}

@media screen and (max-width: 768px) {
  .header_title {
    font-size: 1.6rem;
  }
  .header {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* padding-bottom: 0px; */
  }
  .social {
    font-size: 1.2rem;
  }
}
