


/* Yükleniyor ekranı */
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
  }
  
  .loading-container .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f4a261; /* Lokma rengi */
    border-top: 6px solid #2a9d8f; /* Dönen üst renk */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  .loading-container p {
    margin-top: 15px;
    font-size: 18px;
    color: #555;
    text-align: center;
  }
  
  .loading-container img {
    margin-top: 15px;
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
  
  /* Yükleniyor ekranı */
  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
  }
  
  
  .loading-container img {
    margin-top: 15px;
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
  
  /* Dalga efekti */
  .wave-text {
    display: inline-block;
    font-weight: bold;
  }
  
  .wave-text span {
    display: inline-block;
    animation: waveEffect 1s ease-in-out infinite;
    font-size: 36px;
    color: #f4a261;
    font-family: 'Courier New', Courier, monospace;
  }
  
  @media screen and (max-width: 768px) {
    .wave-text span {
      font-size: 24px;
    }
    
  }
  
  /* Dalga hareketi */
  @keyframes waveEffect {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  
  /* Döndürme animasyonu */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }